<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.DeKoi.DeFocuserApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ASCOM.DeKoi.DeFocuserApp.Properties.Settings>
            <setting name="LastComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnectOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#E5484D</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BacklashCompensation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1180</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="ConnectionExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PositionExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovementExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheckTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value />
            </setting>
        </ASCOM.DeKoi.DeFocuserApp.Properties.Settings>
    </userSettings>
</configuration>
